{% extends 'adminhome.html' %}
 {% block 'body' %}
<br><br>
<h4 align="center" style="color:red">{{msg}}</h4>
<h2 align="center">CHANGE PASSWORD</h2>
<br>
<center>
<form method="post" action="{% url 'adminupdatepwd' %}">
    {% csrf_token%}
    <table align="center" height="25%" width="30%">
        <tr align="center">
            <td>
                <label>Enter Old Password</label>
            </td>
            <td>
                <input type="password" name="opwd" required/>
            </td>
        </tr>
         <tr align="center">
            <td>
                <label>Enter New Password</label>
            </td>
            <td>
                <input type="password" name="npwd" required/>
            </td>
        </tr>
         <tr align="center">
            <td>
                <input type="submit" value="Update" class="button"/>
            </td>
            <td>
                <input type="reset" value="clear" class="button"/>
            </td>
        </tr>
    </table>
</form>
    </center>
  {% endblock %}