{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS PROJECT</title>
<!--     <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/adminstyle.css' %}">
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
</head>
<body bgcolor="lightgrey">
<br>
  <h1 align="center" style="color:green">STUDENT ACADEMIC MANAGEMENT SYSTEM</h1>
  <h2 align="right" style="color:black" ><b>welcome {{adminuname}}</b></h2>
<!--  <nav class="navbar">-->
<!--      <div class="logo">BALA</div>-->
<!--       <ul class="nav-links">-->
<!--            <div class="menu">-->
<div style="background-color:lightgreen;padding:20px;font-size:15pt">
 <a href="{% url 'adminhome' %}">Home</a>&nbsp&nbsp;&nbsp;
<a href="{% url 'adminchangepwd' %}">Change Password</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'adminstudent' %}">Student</a>&nbsp;&nbsp;&nbsp;
<a href="{%url 'adminfaculty'%}">Faculty</a>&nbsp;&nbsp;&nbsp;
  <a href="{%url 'admincourse'%}">Course</a>&nbsp;&nbsp;&nbsp;
   <a href="{%url 'facultycoursemapping' %}">Faculty Course Mapping</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'login' %}">Logout</a>&nbsp;&nbsp;&nbsp;
    </div>
<!--            </div>-->
<!--       </ul>-->
<!--  </nav>-->

<br>
{% block 'body' %}
<center>
<img src="{% static 'images/admin2.jpg' %}" style="height:500px;width:1000px">
    </center>
{% endblock %}

</body>
</html>