{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS PROJECT</title>
<!--     <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/adminstyle.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/studentstyle.css' %}">
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
</head>
<body bgcolor="lightgrey">
<br>
  <h1 align="center" style="color:green">STUDENT ACADEMIC MANAGEMENT SYSTEM</h1>
  <h2 align="right" style="color:black" ><b>welcome {{sid}}</b></h2>
<!--  <nav class="navbar">-->
<!--      <div class="logo">BALA</div>-->
<!--       <ul class="nav-links">-->
<!--            <div class="menu">-->
<div style="background-color:lightpink;padding:20px;font-size:15pt">
 <a href="{% url 'studenthome' %}">Home</a>&nbsp&nbsp;&nbsp;
<a href="{% url 'studentchangepwd' %}">Change Password</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'studentcourses' %}">View Courses</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'scoursecontent' %}">View Course Content</a>&nbsp;&nbsp;&nbsp;

<a href="{% url 'studentlogin' %}">Logout</a>&nbsp;&nbsp;&nbsp;
</div>
<!--            </div>-->
<!--       </ul>-->
<!--  </nav>-->

<br><br>
{% block 'body' %}
<br><br>
<!--<h2 align="center">STUDENT HOME</h2>-->
<center>
<div class="card">
  <div class="container" >
    <h4><b>{{student.studentid}}-{{student.fullname}}</b></h4>
    <p>{{student.department}}</p>
      <p>{{student.year}}-{{student.semester}}</p>
      <p>{{student.email}}</p>
      <p>{{student.contact}}</p>
  </div>
</div>
    </center>
{% endblock %}

</body>
</html>